<%- model_class = Response -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="well">
  <em><%= @response.body %></em>
</div>
