<%- model_class = Challenge -%>


<div id="challenges"></div>

<% content_for :javascript do %>

  <script type="text/javascript">
    $(function() {
      window.router = new Puntificate.Routers.ChallengesRouter({
        challenges: <%= @challenges.to_json.html_safe %>
      });
      Backbone.history.start();
    });
  </script>

<% end %>